<%= render @song %>

<div class="footer">
  <%= link_to "View All Songs", songs_path, class: "btn btn-large btn-inverse" %>
  <%= link_to "Featured Songs", root_path, class: "btn btn-large" %>
</div>
