<ul class="song-list">
  <% @songs.each do |song| %>
    <li><a href="#song_<%= song.id %>"><%= song.title %></a></li>
  <% end %>
</ul>

<div class="featured-songs">
  <% @songs.each do |song| %>
    <%= render song %>
    <a href="#" class="back-link">
      Back To List
      <i class="icon-arrow-up"></i>
    </a>
  <% end %>
</div>

<% if @songs.empty? %>
  <div class="empty muted">
    No songs have been featured. Click "View All Songs" below to see a list of all available songs.
  </div>
<% end %>

<div class="footer">
  <%= link_to "View All Songs", songs_path, class: "btn btn-large btn-inverse" %>
</div>
