body.frontend {
  font-family: $helvetica;
  @include retina-image("backgrounds/handmadepaper", 100px 100px);

  > .title.heading-divider h1 {
    margin-top: 0;
  }

  ul.song-list {
    margin: 0 0 10px 10px;
    list-style-type: none;
    font-weight: 300px;
    font-size: 1.2em;

    li {
      margin: 3px 0;
      text-transform: capitalize;
    }
  }

  .heading-divider {
    @include retina-image("backgrounds/dark_leather", 398px 484px);
    box-shadow: 0 1px 5px #444;
    text-align: center;

    h1, h2 {
      font-weight: 100;
      letter-spacing: 1px;
      text-transform: capitalize;
      color: #dfdfdf;
    }
    h1 { font-size: 1.6em; }
    h2 { font-size: 1.6em; }
  }

  .song {
    margin: 0 10px;

    .section {
      margin: 5px 0;

      .section-title {
        font-size: 0.9em;
        font-weight: 300;
        color: #aaa;
        text-shadow: 0px 1px 0px #e5e5ee;
        text-transform: lowercase;
      }

      .section-lyrics {
        font-size: 1.1em;
        line-height: 18px;
        p { margin: 0; }
      }
    }

    .copyright {
      margin: 10px 0;
      font-size: 0.7em;
      line-height: 10px;
      color: #aaa;
    }

    .back-link {
      display: block;
      text-align: center;
      margin: 5px;
    }
  }

  .footer {
    border-top: 2px solid #aaa;
    padding: 10px;
    margin: 10px;
    text-align: center;
  }
}

